body {
    background: #f9f9f9;
}
header {
    font-size: 300 px;
}
h1 {
    font-family: Anton;
    margin: 0;
    margin-top: 50 px;
    margin-right: 100 px;
    text-align: right;
}
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: right;
    margin: 0;
    margin-top: -30 px;
    margin-right: 100 px;
}
h3 {
    font-family: Anton;
    margin: auto;
    font-size: 72 px;
}
h4 {
    font-family: Anton;
    font-size: 72 px;
    margin: 0;
}
.sobre-mim {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1420 px;
    margin: 0 auto;
    padding: 50 px 0;
}
.descricao {
    max-width: 800 px;
    text-align: justify;
}
.descricao p {
    margin-bottom: 20 px;
}
    media(max-width:200 px) {
    .sobre-mim {
        flex-direction: column;
        text-align: right;
    }

    .titulo h4 {
        margin-bottom: 20 px;
    }
}
.container {
  max-width: 1200 px;
  margin: 20 px auto;
  display: grid;
  grid-template-columns: repeat (2, 1 fr);
  gap: 20 px;
}

.card {
  background-color: white;
  border-radius: 8 px;
  box-shadow: 0 4 px 6 px rgba (0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2 s ease-in-out, box-shadow 0.2 s ease-in-out;
}

.card: hover {
  transform: scale (1.05);
  box-shadow: 0 6 px 10 px rgba (0, 0, 0, 0.15);
}

.card img {
  width: 100 %;
  height: auto;
}

 card h3 {
  font-size: 18 px;
  margin: 10 px 0;
  padding: 0 10 px;
  color: #333;
}

.card a {
  text-decoration: none;
  color: #007BFF;
  font-size: 14 px;
  margin-bottom: 10 px;
  display: inline-block;
  transition: color 0.2 s ease-in-out;
}

.card a: hover {
  color: #0056b3;
}

