body {
    background: #f9f9f9;
}
header {
    font-size: 300px;
}
h1 {
    font-family: Anton;
    margin: 0;
    margin-top: 50 px;
    margin-right: 100 px;
    text-align: right;
}
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: right;
    margin: 0;
    margin-top: -30 px;
    margin-right: 100 px;
}
h3 {
    font-family: Anton;
    margin: auto;
    font-size: 72px;
}
h4 {
    font-family: Anton;
    font-size: 72px;
    margin: 0;
}
.sobre-mim {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1420 px;
    margin: 0 auto;
    padding: 50 px 0;
}
.descricao {
    max-width: 800 px;
    text-align: justify;
}
.descricao p {
    margin-bottom: 20 px;
}
    media(max-width:200 px) {
    .sobre-mim {
        flex-direction: column;
        text-align: right;
    }

    .titulo h4 {
        margin-bottom: 20 px;
    }
}



